body{
    background: #837a75;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

h1{
    text-shadow: 2px 2px #453a75 ;
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 40%;
}